<div class="container">
    <!-- Here starts the news bullet. För att hålla ordning. skapa nya "news"
    före denna markering-->
    <figure class="snip1527">
        <div class="image"><img src="http://cdn.pcwallart.com/images/beach-wallpaper-tumblr-wallpaper-4.jpg" alt="news_1" /></div>
        <figcaption>
            <div class="date"><span class="day">28</span><span class="month">Nov</span></div>
            <h3>Shop v0.1 soon out</h3>
            <p>
              Soon we will release the shop, but a few fixes remain. Remember,
              you <strong>MUST</strong> have a certificate to adopt kiwibirds.
            </p>
        </figcaption>
        <a href="#"></a>
    </figure>
    <!-- Here does it end -->
    <!-- Here starts the news bullet. För att hålla ordning. skapa nya "news"
    före denna markering-->
    <figure class="snip1527">
        <div class="image"><img src="http://cdn.pcwallart.com/images/beach-wallpaper-tumblr-wallpaper-4.jpg" alt="news_1" /></div>
        <figcaption>
            <div class="date"><span class="day">27</span><span class="month">Nov</span></div>
            <h3>Up and Running!</h3>
            <p>
                KiwiBird's website has been updated.
                Thanks to all "Uigradients.com, littlesnippets.net and marc@denver
                for all the help.
                -KiwiMan
            </p>
        </figcaption>
        <a href="#"></a>
    </figure>
    <!-- Here does it end -->
</div>
