<!--- redirect to website. 
Note! This is just a template!
-->

<meta http-equiv="refresh" content="5;url=index.html" />

<div class="container" text-center>
    
    <h3>The Page has been moved, Please wait <strong>5</strong>
    sec before redirect!
    </h3>
    
</div>