<div class="container text-center">
  <h1>About Page</h1>
  <p>We are KiwiBird. Our company focuses on creating an exclusive community
  for KiwiBird and entrepreneurs to meet and disscuss about KiwiBird.</p>
</div>