<div class="home-callout text-center container-fluid">
  <h1>Welcome to KiwiBird</h1>
  <h3>A membership site where kiwi lovers can meet kiwi lovers.</h3>
</div>
</ br>
<!-- Pricing -->
<div class="container">
   <div class="row text-center">
            <div class="col-md-12">
            <br/><br/>
            <h3>
            
            KiwiBird Lite shop
            
            </h3>
            <br/><br/>
            </div>
    </div>        
           
  <div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-one">
                        <div class="price">
                            <sup>$</sup>99
                                <small>per adoption</small>
                        </div>
                        <div class="type">
                            BASIC PLAN
                        </div>
                        <ul>

                            <li><i class="glyphicon glyphicon-file"></i>Adoption Pass</li>
                            <li><i class="glyphicon glyphicon-earphone"></i>free Support mon-fri</li>
                            <li><i class="glyphicon glyphicon-trash"></i>1 Month Adoption</li>
                            <li><i class="glyphicon glyphicon-star"></i>Basic Adopter</li>
                        </ul>
                        <div class="pricing-footer">

                            <a href="#" class="btn db-button-color-square btn-lg">BOOK ORDER</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-two popular">
                    <div class="price">
                        <sup>$</sup>199
                                <small>per adoption</small>
                    </div>
                    <div class="type">
                        MEDIUM PLAN
                    </div>
                    <ul>

                        <li><i class="glyphicon glyphicon-file"></i>Adoption Pass</li>
                        <li><i class="glyphicon glyphicon-earphone"></i>Free Support every day </li>
                        <li><i class="glyphicon glyphicon-trash"></i>6 Month Adoption</li>
                        <li><i class="glyphicon glyphicon-star"></i>Medium Adopter</li>
                    </ul>
                    <div class="pricing-footer">

                        <a href="#" class="btn db-button-color-square btn-lg">BOOK ORDER</a>
                    </div>
                </div>
                      </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-three">
                    <div class="price">
                        <sup>$</sup>249
                                <small>per adoption</small>
                    </div>
                    <div class="type">
                        ADVANCE PLAN
                    </div>
                    <ul>

                        <li><i class="glyphicon glyphicon-file"></i>Adoption Pass </li>
                        <li><i class="glyphicon glyphicon-earphone"></i>Free Support 24/7 </li>
                        <li><i class="glyphicon glyphicon-trash"></i>18 Months Adoption</li>
                        <li><i class="glyphicon glyphicon-star"></i>Master Adopter</li>
                    </ul>
                    <div class="pricing-footer">

                        <a href="#" class="btn db-button-color-square btn-lg">BOOK ORDER</a>
                    </div>
                </div>
                      </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-six">
                    <div class="price">
                        <sup>$</sup>599
                                <small>per adoption</small>
                    </div>
                    <div class="type">
                        MASTER PLAN
                    </div>
                    <ul>

                        <li><i class="glyphicon glyphicon-file"></i>Adoption Pass</li>
                        <li><i class="glyphicon glyphicon-earphone"></i>Free Support 24/7 </li>
                        <li><i class="glyphicon glyphicon-trash"></i>Full Time Adoption</li>
                        <li><i class="glyphicon glyphicon-star"></i>Premium Adopter</li>
                    </ul>
                    <div class="pricing-footer">

                        <a href="#" class="btn db-button-color-square btn-lg">BOOK ORDER</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>